{%extends 'base.html'%}
{%load static%}
{% block maincontent %}



<style>
    .hidden {
        display: none !important;
    }
</style>
<div class="checkout-container">
    <div class="col-lg-6" style="padding-right: 200px; padding-left: 100px;">
        <br>
        <br>
        <div id="form-wrapper">
            <form id="form">
                <div id="shipping-info">

                    <label id="login-label">
                        Shipping Information

                    </label>
                    <br>
                    <br>
                    <div class="form-field ">
                        <label id="login-label">
                            Address:

                        </label>
                        <input id="login-input" class="form-control" type="text" name="address" placeholder="Address..">
                    </div>
                    <br>
                    <div class="form-field">
                        <label id="login-label">
                            City:

                        </label>
                        <input id="login-input" class="form-control" type="text" name="city" placeholder="City..">
                    </div>

                </div>

                <hr style="width: 330px">
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
            </form>
        </div>

        <br>

        <div class="box hidden" id="place-order-box">
            <input id="place-order" class="btn btn-success btn-block" type="submit" value="Place Order">
        </div>

    </div>
    <div class="col-lg-6">
        <div class="checkout-cart-container" style="padding-right: 50px;">
            <br>
            <h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 23px;">
                Your Order Summary
            </h1>
            <hr>

            <div class=" cart-box">
                <div style="flex: 2;">
                    <label id="login-label">
                        Image

                    </label>
                </div>
                <div style="flex:2">
                    <label id="login-label">
                        Book

                    </label>

                </div>
                <div style="flex:1">
                    <label id="login-label">
                        Price

                    </label>

                </div>
                <div style="flex:1">
                    <label id="login-label">
                        Quantity

                    </label>

                </div>
                <div style="flex:1">
                    <label id="login-label">
                        Total
                    </label>

                </div>

                <br>

            </div>
            <br>

            {% for item in items %}

            <div class="cart-box">
                <div style="flex:2">
                    <img src="{{item.item.imageurl}}" width="100px">
                </div>

                <div style="flex:2">
                    <label id="login-label"> {{item.item.title}} </label>

                </div>
                <div style="flex:1">
                    <label id="login-label"> Rs {{item.item.price}} </label>


                </div>
                <div style="flex:1">
                    <label id="login-label"> {{item.quantity}} </label>

                    <p style="display: inline-block; padding-right: 10px; position: sticky; top:0px ">

                    </p>

                    <div style="display: inline-block; vertical-align: middle;">
                        <svg class="add-to-cart" data-product="{{item.item.id}}" data-action="add"
                            style="width: 14px; cursor: pointer; display: block; transition: 5s;"
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                            <path
                                d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                        </svg>

                        <svg class="add-to-cart" data-product="{{item.item.id}}" data-action="remove"
                            style="width: 14px; cursor: pointer;transition: 0.1s; display: block; "
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path
                                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                        </svg>

                    </div>
                    
                </div>
                <div style="flex:1">
                    <label id="login-label"> {{item.getTotal}} </label>

                </div>
            </div>
            {% endfor %}

            <br>
            <hr>
            <div>
                <div class="cart-box">
                    <div style="flex: 3;">



                    </div>

                    <div style="flex: 2;">
                        <label id="login-label">
                            Items: {{order.getCartItems}}

                        </label>
                    </div>



                    <div style="flex: 2;">
                        <label id="login-label">
                            Total Price:{{order.getCartTotal}}

                        </label>
                    </div>


                </div>
            </div>



        </div>


    </div>

</div>

</div>



<script type="text/javascript">
    var productsAdded = '{{order.productsAdded}}'
    var cart_total = '{{order.getCartTotal}}'

    //hide continue button and show place order
    var form = document.getElementById('form')

    form.addEventListener('submit', function (e) {
        e.preventDefault()
        console.log('submitted')
        document.getElementById('form-button').classList.add('hidden')
        document.getElementById('place-order-box').classList.remove('hidden')
    })

    //checkout
    document.getElementById('place-order').addEventListener('click', function (e) {
        submitCheckoutForm()
    })

    function submitCheckoutForm() {

        var userData = {
            'cart_total': cart_total
        }
        var userShippingdata = {
            'address': null,
            'city': null,
        }

        if (productsAdded != 'False') {
            userShippingdata.address = form.address.value
            userShippingdata.city = form.city.value
        }

        var url = '/checkout-process/'

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'form': userShippingdata, 'cart': userData })
        })
            .then((response) => response.json())
            .then((data) => {
                console.log(data)
                alert('Your order has been placed.')
                window.location.href = "{%url 'home'%}"
            })
    }


</script>

{%endblock maincontent%}