{%extends 'base.html' %}
{% load static %}

{%block maincontent%}

<head>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

</head>

<div class="reg-container">
    <br>
    <h1 id="login-header">
       Change Password
    </h1>
    <br>

    <div class="login-inside form-group">

        <form action="" method="post" >
            {%csrf_token%}
            <div class="row">


                <div class="form-field">
                    <label id="login-label">
                        Old Password
                    </label>
                    <input class="form-control" id="login-input" name="oldpassword" />
                </div>
                <br>
                <div class="form-field">
                    <label id="login-label">
                       New Password
                    </label>
                    <input class="form-control" type="password" id="login-input" name="newpassword"
                        placeholder="Password" />
                </div>
                <div class="form-field">
                    <label id="login-label">
                        Confirm New Password
                    </label>
                    <input class="form-control" type="password" id="login-input" name="confirm-password"
                        placeholder="Password" />
                </div>
                <br>
                <br>
                <br>
                <div>
                    <input style="margin-top: 8px; width: 150px;" id="login-button" class="  btn btn-primary mb-2" type="submit" name="register"
                        value="Change Password" placeholder="Create" />
                    <a href="{% url 'home' %}">
                        <button  style="margin-left: 10px; " id="login-button" class="btn btn-secondary">Cancel</button>
                    </a>
                </div>
                <br>
                <br>
                <br>
                <br>

            </div>
        </form>

    </div>

</div>

{% endblock maincontent %}