.logo {
padding-left: 100px;
width: 200px;
height: 80px;

}

.img {
    max-width: 100%;
}

#search-bar {
   
    padding-top: 30px;
}

#search {
    margin-left: 60px;
    width: 500px; 
    height: 33px;
    border-style:solid;
    border-radius: 10px;
    border-color: #000;
}

#login {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;

    width: 80px;

    border-radius: 5px;
}

.top-area {
    display: flex;
    align-items: stretch;

    height: 100px;
}

.dropdown:hover .dropdown-menu {
    display: block;

    margin-top: 0; 
}


.card-body {
    font-size: 10px;
}

.card-title {
    font-size: 10px;
}

.img-container {
}

.container-detail {
    width: 800px;
    height: 600px;
    border: 20px;
    offset-position: auto;
    margin-left: 300px;
    display: flex;
    align-items: flex-stretch;
    border-bottom: 1px rgb(47, 38, 38);
}

.detail-title {
    font-family: Poynter,Georgia,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    line-height: 1.25;

}
.detail-author {
    font-family: Lato, sans-serif;
    display: inline-block;
    color: rebeccapurple;
    line-height: 1;
}

.login-container {
    width: 400px;
    
    border: 20px;
    opacity: 0.75;
    offset-position: auto;
    margin-left: 550px;
    border-bottom: 1px rgb(47, 38, 38);
    border-radius: 4px;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 50px;
    box-shadow: hsl(0, 10%, 60%) 0 0 20px;
    
    
    
}

.login-inside {
    margin-left: 50px;
    margin-top: 40px;

}

#login-button {
    width: 100px;
    margin-left: 25px;
}

#login-input {
    width: 300px;
    color: black;
    box-shadow: 10px;
}

#login-header {
    font-family:Arial,sans-serif;
    display: inline-block;
    line-height: 1;
    font-size: 28px;
    margin-left: 50px;
    font-weight: 500;
    color: black;


}

#login-label {
    font-weight: 500;


}

.reg-container {
    width: 400px;
    opacity: 0.75;
    offset-position: auto;
    margin-left: 550px;
    border-bottom: 1px rgb(47, 38, 38);
    border-color: black;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 50px;
    box-shadow: hsl(0, 10%, 60%) 0 0 20px;
 
  
    
}

.sidebar {
     min-height: 100vh;
     width: 150px;
}


.sidebar-label {
    font-weight: 500;
    color: #000;

}

.addproduct {
    margin-left: 400px;
    margin-top: 40px;

}

.cart-container {
    width: 900px;
    background-color: white;
    margin-left: 300px;
    border-bottom: 1px rgb(47, 38, 38);
    border-color: black;
    justify-content: center;
    
 
  
    
}

.cart-box {
    display: flex;
    background-color: white;
    box-shadow: hsl(0, 10%, 100%) 0 0 8px;

    
}

.checkout-container {
    height: 800px;
    border-bottom: 1px rgb(47, 38, 38);
    border-color: black;
    display: flex;
    box-shadow: hsl(0, 10%, 90%) 0 0 20px;

    
 
  
    
}

.checkout-cart-container {
    background-color: white;
    border-bottom: 1px rgb(47, 38, 38);
    border-color: black;
    justify-content: center;
    
 
  
    
}

.book-container {
    padding-left: 50px;
}

.book-flex {
    display: flex; 
    flex-direction: row ;
}

.button-container{
    display: flex;
    flex-direction: column;
}

@media (min-width: 390px ) and (max-width: 845px) { 

#search {
    width: 120px;
    margin-left: 30px;
}

.logo {
    padding-left: 0px;
    padding-top: 20px;
    width: 80px;
    height: 80px;
    
    
}

.book-flex{
    display: flex;
    flex-direction: column;
    
}

.button-container{
    padding-left: 20px;
}

#login {
    font-size: 10px;
    width: 80px;
}

.login-container {
    width: 400px;
    margin-left: 0px;
    box-shadow: hsl(0, 10%, 60%) 0 0 20px;
    padding-bottom: 100px;
    
    
    
}

.reg-container {
    width: 400px;
    margin-top: 30px;
    margin-left: 0px;
    border-bottom: 1px rgb(47, 38, 38);
    border-color: black;
    margin-bottom: 300px;
    box-shadow: hsl(0, 10%, 60%) 0 0 20px;
 
  
    
}

#login-input {
    width: 200px;
    color: black;
    box-shadow: 10px;
}

.cart-container {
    width: 500px;
    background-color: white;
    margin-left: 0px;
    border-bottom: 1px rgb(47, 38, 38);
    border-color: black;
    

}
}

