{% extends 'file.html' %}

{%load static%}
{%block content%}
<h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 23px; display: inline;">
    Products
</h1>
<a  style="padding-left: 800px; display: inline;" href="{% url 'add-product' %}"><button class="btn btn-primary text-right"> Add Product</button></a>
<br>
<br>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>author</th>
                <th>price</th>
                <th>description</th>
                <th>image</th>
                <th>date</th>
                <th>category</th>
                <th>update</th>
                <th>remove</th>
            </tr>
        </thead>

        <tbody>
            {%for product in products%}
            <tr>

                <td>{{product.id}}</td>
                <td>{{product.title}}</td>
                <td>{{product.author}}</td>
                <td>{{product.price}}</td>
                <td>{{product.description}}</td>
                <td>{{product.image}}</td>
                <td>{{product.date_added}}</td>
                <td>{{product.category}}</td>
                <td><a class="btn btn-sm btn-info" href="{% url 'update-product' product.id %}">Update</a></td>
                <td><a class="btn btn-sm btn-danger" href="{% url 'delete-product' product.id %}">Remove</a></td>

            </tr>
            {%endfor%}
        </tbody>

    </table>
</div>

<nav style="padding-left: 400px;" aria-label="Page navigation example">
    <ul class="pagination">
        {% if customers.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item">
            <li class="disabled" ><a class="page-link" aria-label="Previous" href="#">&laquo;</a></li>
        </li>
       
        {%endif%}

        {% for i in products.paginator.page_range%}
        {% if products.number == i %}

        <li class="page-item"><a class="page-link" href="#">{{i}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% endif %}
        {% endfor %}

        {% if products.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ productss.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item">
            <li class="disabled"><a class="page-link" aria-label="Previous" href="#">&laquo;</a></li>
        </li>
        
        {%endif%}


    </ul>
</nav>
{%endblock%}

