{% extends 'file.html' %}

{%load static%}
{%block content%}
<h1 style="font-family: Arial, Helvetica, sans-serif; font-size: 23px; display: inline;">
    Orders
</h1>
<a style="padding-left: 800px; display: inline;" href="{% url 'create-order' %}"><button class="btn btn-primary text-right"> Add Order</button></a>
<br>
<br>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>customer</th>
                <th>order</th>
                <th>quantity</th>
                <th>city</th>
                <th>Shipping Address</th>
                <th>date_added</th>
                <th>order id</th>
                <th>status</th>
                <th>update</th>
                <th>remove</th>

            </tr>
        </thead>

        <tbody>


            {%for i in orders_products%}
            <tr>
                <td>{{i.order.customer}}</td>
                <td>{{i.item}}</td>
                <td>{{i.quantity}}</td>
                {%for j in i.order.checkout_set.all%}
                {%if j %}
                <td>{{j.city}}</td>
                <td>{{j.address}}</td>
                <td>{{j.date_added}}</td>
                {%else%}
                <td></td>
                
                
                <td></td>
                <td></td>
                {%endif%}


                {%endfor%}
                <td>{{i.order.order_id}}</td>
                <td>{{i.order.status}}</td>

                <td><a class="btn btn-sm btn-info" href="{% url 'update-checkout' i.id %}">Update</a></td>
                <td><a class="btn btn-sm btn-danger" href="{% url 'delete-checkout' i.id %}">Remove</a></td>

            </tr>

            {%endfor%}






        </tbody>

      

    </table>
</div>
<nav style="padding-left: 400px;" aria-label="Page navigation example">
    <ul class="pagination">
        {% if orders_products.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ orders_products.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item">
            <li class="disabled" ><a class="page-link" aria-label="Previous" href="#">&laquo;</a></li>
        </li>
       
        {%endif%}

        {% for i in orders_products.paginator.page_range%}
        {% if order_productss.number == i%}

        <li class="page-item"><a class="page-link" href="#">{{i}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% endif %}
        {% endfor %}

        {% if orders_products.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ orders_products.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item">
            <li class="disabled"><a class="page-link" aria-label="Previous" href="#">&laquo;</a></li>
        </li>
        
        {%endif%}


    </ul>
</nav>
{%endblock%}