{% extends 'base.html' %}
{%load static%}
{% block maincontent%}
<div>
    <br>
    <h1 style="padding-left: 350px;" id="login-header">
        Add new Product
    </h1>
    
    
    <div class="addproduct form-group" style="width: 950px;">
        <div style="width: 800px">
            <hr>
    
        </div>
        
        <form action="" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <div style="display: flex; align-items: stretch;">
                <div class="form-field" style="flex: 1;">
                    <label id="login-label">
                        Name
                    </label>

                    <input id="login-input" type="text" name="title" class="form-control" />


                </div>
                <br>
                <div class="form-field" style="flex: 1;">
                    <label id="login-label">
                        Price
                    </label>

                    <input id="login-input" type="text" name="price" class="form-control" />
                </div>

            </div>

            <br>
            <div style="display: flex; align-items: stretch;">
                <div class="form-field" style="flex: 1;">
                    <label id="login-label">
                        Author
                    </label>

                    <input id="login-input" type="text" name="author" class="form-control" />
                </div>
                
                <div class="form-field" style="flex: 1;">
                    <label id="login-label">
                        Description
                    </label>

                    <textarea type="text" style="width: 400px; height: 100px;" name="description" class="form-control">

             </textarea>
             <br>
                </div>
            </div>
            <br>
            <div style="display: flex; align-items: stretch;">
                <div class="form-field" style="flex: 1;">
                    <label id="login-label">
                        Image
                    </label>

                    <input id="login-input" type="file" name="image" class="form-control" />
                </div>
                

                <div class="form-field" style="flex: 1;">
                    <label id="login-label">
                        Category
                    </label>

                    <select class="form-control" id="login-input" name="category">
                        {% for i in category%}
                        <option value={{i.id}}>{{i.name}}</option>
                        {%endfor%}

                    </select>
                </div>
            </div>
            <br>
            <br>
            <div>
                <input style="margin-top: 8px; margin-left: 200px; width: 130px;" id="login-button" value="Add Product" type="submit" name="submit"
                    class="form-control btn btn-primary mb-2" />
                <button style="margin-left: 10px; " id="login-button" class="btn btn-secondary">Cancel</button>
            </div>
        </form>
    </div>

</div>
{% endblock maincontent%}