{%extends 'base.html'%}
{% load static %}
{%block maincontent%}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-12" style="display: flex; flex-direction: row;">
                <div class="col-lg-2 sidebar shadow navbar-light bg-light ">
                    <nav class="sidebar-nav  ">


                        <ul class="navbar-nav navlist">

                            <li class="nav-item" style="cursor: pointer;">
                                <a class="nav-link active sidebar-label" href="{% url 'admin-checkout' %}">
                                    <label style="cursor: pointer;"> Orders </label>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'products' %}">
                                    <label style="cursor: pointer;" class="sidebar-label">Products </label>


                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'dash' %}">
                                    <label style="cursor: pointer;" class="sidebar-label">Customer </label>
                                </a>

                            </li>


                        </ul>

                    </nav>
                </div>

                <div class="col-lg-10  p-3 body-content" style="min-height: 100vh;">

                    <div class="row">
                        <div class="col-lg-12 p-3">
                            {% block content %}

                            {%endblock%}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {%endblock maincontent%}


    <script src="{% static 'js/cart.js' %}"></script>





</body>

</html>