{%extends 'base.html'%}
{% load static %}
{%block maincontent%}
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" style="background-color: rebeccapurple; height: 100px;">
                <header> header</header>
            </div>
            <div style="margin-bottom: 30px;">
                <p style="font-size: 22; margin-top: 15px;">
                    CART- {{cartItems}}
                </p>
            </div>

            <div class="col-lg-2 p-0 sidebar" style="background-color: white; min-height: 100vh;">
                <aside>
                    <ul class="list-group">
                    
                            
                        <li class="list-group-item list-group-item-action">
                            <a href="{% url 'admin-checkout' %}">
                                orders
                            </a></li>
                        <li class="list-group-item list-group-item-action">
                            <a href="{% url 'order' %}">
                                Order

                            </a>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <a href="{% url 'products' %}">
                                Products


                            </a>
                        </li>


                        <a href="{% url 'dash' %}">
                            <li class="list-group-item list-group-item-action">dash/li>
                        </a>
                        <a href="{% url 'showproduct'%}">
                            <li class="list-group-item list-group-item-action">user</li>

                        </a>
                    </ul>

                </aside>
            </div>

            <div class="col-lg-10  p-3 body-content" style="min-height: 100vh;">

                <div class="col-lg-8">

                </div>
                <div class="col-lg-  8">
                    <span>Hello, {{request.user}}</span>
                    <a href="{% url 'logout'%}">Logout</a>
                </div>


                <div class="row">
                    <div class="col-lg-12 p-3">
                        {% block content %}

                        {%endblock%}
                    </div>
                </div>

            </div>
        </div>
    </div>
    {%endblock maincontent%}

    
    <script src="{% static 'js/cart.js' %}"></script>
    
    

    

</body>

</html>