{%extends 'base.html' %}
{% load static %}

{%block maincontent%}
<head>

    <script src="{% static 'js/validation.js' %}" ></script>

</head>

<h1>
    Register
</h1>
<form  action="" method="post" onsubmit="validateCustomer($event)" >
    {%csrf_token%}
    <div class="form-field"  >
        <input class="form-control"  name="fname"  placeholder="First name" />
    </div>
    <br/>
    <div>
        <input  name="laname" placeholder="Last name" />
    </div>
    <br/>
    <div>
        <input  name="email" placeholder="Email" />
    </div>
    <br/>
    <div>
        <input  name="address" placeholder="Address" />
    </div>
    <br/>
    <div>
        <input  name="phone" placeholder="Contact" />
    </div>
    <br/>

    <div>
        <input name="username" placeholder="Username" />
    </div>
    <br/>
    <div>
        <input type="password" name="password" placeholder="Password" />
    </div>
    <br/>
    <div>
        <input type="submit" name="register" placeholder="Create" />
    </div>
    
    
</form>
{% endblock maincontent %}