{% load static %}
<head>

    <script src="{% static 'js/validation.js' %}" ></script>

</head>

<h1>
    Register
</h1>
<form  action="" method="post" onsubmit="validateCustomer($event)" >
    {%csrf_token%}
    <div class="form-field"  >
        <input class="form-control"  name="fname" value={{customer.fname}}  placeholder="First name" />
    </div>
    <br/>
    <div>
        <input  name="laname" value={{customer.laname}}  placeholder="Last name" />
    </div>
    <br/>
    <div>
        <input  name="email" value={{customer.email}}  placeholder="Email" />
    </div>
    <br/>
    <div>
        <input  name="address" value={{customer.address}}  placeholder="Address" />
    </div>
    <br/>
    <div>
        <input  name="phone" value={{customer.phone}}  placeholder="Contact" />
    </div>
    <br/>

    <div>
        <input name="username" value={{customer.username}}  placeholder="Username" />
    </div>
    <br/>
    <div>
        <input type="password" value={{customer.password}} name="password" placeholder="Password" />
    </div>
    <br/>
    <div>
        <input type="submit" name="register" placeholder="Create" />
    </div>
    
    
</form>