{% extends 'file.html' %}

{%load static%}
{%block content%}
<a href="{% url 'create-order' %}"><button class="btn btn-primary text-right"> Add New</button></a>
<div class="table-responsive">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>id</th>
                <th>customer</th>
                <th>product</th>
                <th>date ordered</th>
                <th>status</th>
                <th>update</th>
                <th>remove</th>
            </tr>
        </thead>

        <tbody>
            {%for order in orders%}
            <tr>

                <td>{{order.id}}</td>
                <td>{{order.customer}}</td>
                <td>{{order.product}}</td>
                <td>{{order.date_created}}</td>
                <td>{{order.status}}</td>
                <td><a class="btn btn-sm btn-info" href="">Update</a></td>
                <td><a class="btn btn-sm btn-danger" href="">Remove</a></td>

            </tr>
            {%endfor%}
        </tbody>

    </table>
</div>

{%endblock%}