{%extends 'base.html'%}
{% load static %}
{%block maincontent%}

<div class="login-container shadow" >
    <br>
    <h1 id="login-header">
        Login
    </h1>
<br>

    <div class="login-inside form-group">
       
        <form  method="post">
            {%csrf_token%}
            <div>
                <label id="login-label">
                    Username
                </label>
                <input class="form-control" id="login-input" type="text" name="un" placeholder="" />
            </div>
            <br/>

            <div>
                <label id="login-label">
                   Password
                </label>
                <input class="form-control" id="login-input" type="password" name="pw" placeholder="Password" />
            </div>
            
            <div style="margin-top: 50px;">
                <input style="margin-top: 8px;" id="login-button" class="  btn btn-primary mb-2" type="submit" value="Login" />
                <button style="margin-left: 10px;" id="login-button" class="btn btn-secondary">Cancel</button>
            </div>
        </form>

    </div>
    <hr>
    <aside style="font-size: 10px; margin-left: 150px;">New to BuyBooks?</aside>
    <br>
    <button style="margin-left: 90px; width: 200px;" id="login-button" class="btn btn-success">Create New Account</button>
     <br>
     <br>

</div>
{%endblock maincontent%}